<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Easy deployment by bundling all assets into a single file.md</key>
			<dict>
				<key>lastModification</key>
				<real>513820013.646245</real>
				<key>version</key>
				<dict>
					<key>7d2f66f272dd0100b0fc02a328e32f7cf1c05294cbd025e03dffe19c9ef078bd</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>Introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>513818268.74679202</real>
				<key>version</key>
				<dict>
					<key>7d2f66f272dd0100b0fc02a328e32f7cf1c05294cbd025e03dffe19c9ef078bd</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>Serving compressed content.md</key>
			<dict>
				<key>lastModification</key>
				<real>513818269.828996</real>
				<key>version</key>
				<dict>
					<key>7d2f66f272dd0100b0fc02a328e32f7cf1c05294cbd025e03dffe19c9ef078bd</key>
					<integer>12</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Introduction.md</string>
		</array>
		<array>
			<string>Easy deployment by bundling all assets into a single file.md</string>
		</array>
		<array>
			<string>Serving compressed content.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>7d2f66f272dd0100b0fc02a328e32f7cf1c05294cbd025e03dffe19c9ef078bd</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
